<header>

    <div class="navigation-top">
        <div class="header-text">
            <p>Free Latte Sampler gift with orders $75+</p>
        </div>
    </div>
    
    <div class="navigation">

        <div class="header-left">
            <li><a href="#">Shop All</a></li>
            <li><a href="#">Bundle + Save</a></li>
            <li><a href="#">Subscribe</a></li>
        </div>

        <div class="header-mid">
            <div class="image-logo">
                <img src="../../../assets/images/Sor Rachana Text-02.svg" alt="Logo">
            </div>
        </div>

        <div class="header-right">
            <li><a href="#">Get $5</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Search</a></li>
            <li><a href="#">Log in</a></li>
        </div>

    </div>
</header>