/* You can add global styles to this file, and also import other style files */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Noto Sans', sans-serif;

    color: #331C08;
}

:root{
    --max-width: 1800px

    --primary-color: #FFF4C7;
}


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');


@import '../src/assets/styles/main.scss'